body {
    background-color: #024f75;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

:root {
    /* CSS HEX */
    --rich-black: #001524ff;
    --caribbean-current: #024f75;
    --caribbean-ligth: #058bce;
    --papaya-whip: #ffecd1ff;
    --black: black;

}

.sub-title p,
h1 {
    text-align: center;
    margin: 20px;
    color: var(--papaya-whip);
    padding: 20px;
    font-size: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.city-container {
    background: linear-gradient(to bottom, var(--papaya-whip), var(--caribbean-current));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    width: 400px;
}

#current-temp,
p {
    font-size: 20px;
    font-weight: bold;
    color: var(--rich-black);

}

figcaption {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0;
}

#copyright-info {
    font-size: 16px;
}

#last-modified {
    font-size: 16px;
}