
/* @media (max-width:900px) {
    
  
   
    #formcon {
      max-width: 100%;
    }
  
    .wrapper {
      grid-template-columns: 1fr;
    }
  
    #sidebar {
      grid-column: span 1;
      margin: 100px 30px;
    }
  
    .main-area1, .main-area2 {
      grid-column: span 1;
      margin: 0;
      height: auto;
    }

 
    body {
      font-size: small;
    }
  
  
    .card {
      margin-top: 20px;
    }
  #weather-info
    {
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
    #dark-mode-toggle {
      margin-top: -10px;
    }
  
    #burger-icon {
      display: inline-flex;
      border: none;
      cursor: pointer;
      background-color: transparent;
      right: 5px;
      top: 10px;
      position: absolute;
  
    }
  
    body.dark-mode #burger-icon::before {
      color: var(--papaya-whip);
    }
  
    #burger-icon::before {
      content: '\2630';
      color: var(--rich-black);
      align-items: center;
  
    }
  
    #burger-icon.active::before {
      content: '✖';
    }
  
    #banner,
    .closeBanner {
      top: 0;
      font-size: 14px;
      width: 50%;
    }
  .logo {
    margin-left: 5px;
  }
  .home-box {
    margin: 30px;
  }
  
    .book {
      padding: 5px;
    }
  
    .h1-hero {
      font-size: 20px;
    }
  
    nav {
      display: none;
      width: 100%;
    }
  
    nav.show {
      display: inline-flex;
      flex-direction: column;
      padding: 5px;
      background-color: var(--caribbean-current);
    }
  
    .dark-mode nav.show {
      background-color: transparent;
    }
  
    nav a {
      margin-top: 15px;
      color: var(--papaya-whip);
      padding: 10px 15px;
      text-align: left;
    }
  
    nav a:hover {
      text-decoration: overline;
      color: var(--papaya-whip);
    }
  
    .home-grid {
      grid-template-columns: 1fr;
      display: block;
      margin: 15px 0;
  
    }
  
    footer {
      margin-top: 25px;
    }
  

  } 
Media query para pantallas extra grandes 
@media screen and (min-width: 1200px) 