/* Media queries para pantallas medianas */
@media screen  and (max-width:667px) and (min-width:320px)
 {
  body {
    font-size: 1rem;
  }
  
  #dark-mode-toggle {
  top:5px;
  right: 10px;
    color: var(--papaya-whip);
  }

  #burger-icon {
    display: inline-flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    right: 20px;
    top:50%;
    position: absolute;

  }

  #burger-icon::before {
    content: '\2630MENU';
    color: var(--papaya-whip);

  }

  #burger-icon.active::before {
    content: '✖MENU';
  }

  #banner,
  .closeBanner {
    top: 50%;
    width: 100%;
    z-index: 1;
  }

  .book{
    padding:5px 15px;
    top: 60%;
    left: 40%;
  }
  

  .h1-hero {
    font-size: 1rem;
    top: 40%;
    left:50%;
    text-align: center;

  }

 nav {
    display: none;
    width: 100%;
  }

 nav.show {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
  }

  .card {
    margin: 20px 0;
  }

#formcon {
  width:90%;
  margin: 0;
}

.wrapper {
  grid-template-columns: 1fr;
}

#sidebar {
  grid-column: span 1;
  margin: 100px 30px;
}

.main-area1, .main-area2 {
  grid-column: span 1;
  margin: 0;
  height: auto;
}

  .home-grid {
    grid-template-columns: 1fr;
    display: block;
    margin: 15px 0;

  }

  footer {
    margin-top: 25px;
  }
  
.home-box {
  margin: 0px;
}

   .overlay {
    display: grid; 
  }

  .button {
    padding: 5px 10px;
  }
.logo {
  width:100%;
}
}
/*
@media screen and (min-width: 480px)